
table{
    width: 1000px;
}

h1{
    margin-top: 30px ;
    font-size : 20px;
    text-align: center;
}

.highlight td {
    background: #e7e7ff;
    font-weight: bold;
}

.rating {
    font-weight: bold;
}

.goodRev {
    color: #00cc00;
}

.midRev {
    color: #c5d737;
}

.badRev {
    color: crimson;
}


#sorttable_sortrevind, #sorttable_sortfwdind {
    color: blue;
    font-size: 120%;
}

